/** @format */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 30px;
}
.nav-list {
  font-size: 0;
}
.nav-list-item {
  display: inline-block;
  font-size: 16px;
  background: #47986D;
  border: 1px solid;
  position: relative;
}
.nav-list-item:hover {
  background: #3C805B;
}
.link {
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  color: white;
  width: 130px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sub-nav-list {
  display: none;
  position: absolute;
}
.nav-list-item:hover > .sub-nav-list {
  display: block;
}
.sub-nav-list-item:hover > .sub-nav-list {
  display: block;
  left: 100%;
  top: 0%;
}
.text {
  margin: 50px 0px;
}