body {
  padding: 20px;
}
.nav-list {
  font-size: 0;
  margin-bottom: 40px;
}
.nav-list-item {
  display: inline-block;
  font-size: 16px;

  background-color: #47986d;
  border: 1px solid #3c805b;
  position: relative;
}
li {
  width: 150px;
}
.link {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  width: inherit;
  color: white;
}
.nav-list-item:hover {
  background-color: #3c805b;
}
.sub-nav-list {
  position: absolute;
  display: none;
}
.sub-nav-list-item > .link {
  width: inherit;
}
.nav-list-item:hover > .sub-nav-list,
.nav-list-item:hover > .sub-nav-list-2 {
  display: block;
}
.sub-nav-list-item-2 {
  position: relative;
}
.sub-nav-list-2 {
  position: absolute;
  display: none;
  left: 150px;
  top: 0;
}
